/* Font Face */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} @font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: local('Alata Regular'), local('Alata-Regular'), url(https://fonts.gstatic.com/s/alata/v2/PbytFmztEwbIoce9zqYzQ1OW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v12/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Universal */

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: 'Lato';
  height: 100%;
  color: black;
}

p {
  font-weight: 100;
}

ol, ul {
  margin: 0;
}


.title {
  font-size: 6rem;
  text-align: center;
  color: white;
}

.text-content {
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.subtitle {
  font-size: 2.5rem;
  font-family:'Alata';
  font-weight: bold;
}


a:hover {
  color: inherit;
}
a {
  color: black;
}

.al {
  font-family: 'Poppins';
}

.mobile {
  display: none;
}
.hide {
  display: none;
}
button {
  background-color: none;
  border: none;
}


/* Header */

header {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 100%;
  top: 0;
  padding: 1rem;
  transition: 0.2s;
}

.menu a:hover {
  border-bottom: 2px solid #ecebe3;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav span {
  padding: 1rem;
}

nav li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  padding-right: 1.5rem;
}

.logo img {
  width: 4rem;
}

.logo {
  padding-left: 15rem;
  font-family: 'Lato';
  font-size: 2rem;
}

.menu {
  padding-right: 15rem;
  overflow: hidden;
}
.open {
  display: none;
}

.mobile-overlay ul {
  padding: 0;
}

.menu ul {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

#mobile, #mobileShop {
  display: none;
}
.logo a:hover {
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
  float: left;
  position: static;
  top:100%;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding-right: 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  visibility: hidden;
  display: block;
  min-width: 270px;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 60%;
  margin: 0;
  padding-top: 1rem;
  opacity: 0;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Jumbotron */

#home {
  display: block;
}

.jumbotron {
  margin: 0;
  padding-top: 112px;
  background-image: url("../images/SRF-family.jpg");
  background-size: cover;
  color: white;
}


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron p {
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: bold;
}

.jumbotron .title {
  font-family: 'Lato';
  font-size: 4.5rem;
}
#home .jumbotron .text-content {
  padding: 2rem;
}

.jumbotron-inside, .parallax-inside {
  width: 50rem;
  height: 35rem;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  background-color: white;
  color: black;
  border: none;
  border-radius: 2rem;
  border: 2px solid #ecebe3;
  padding: 1rem;
}

.btn a:hover {
  text-decoration: none;
  background-color: white;
  transition: 0.2s;
}


/* info/code */


  .info {
    display: block;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
  }
  .subject {
    padding: 2rem;
    margin: 7rem;
  }
  .info .img-lg {
    height: 50rem;
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    padding-bottom: 10rem;
  }

  #home .info {
    margin: auto;
    margin-top:7rem;
  }
  .code .subject {
    margin-bottom: 18rem;
  }

  .info .title {
    font-family: 'Alata';
    font-weight: bold;
    letter-spacing: 0.8rem;
    padding: 1.5rem;
    z-index: 1;
  }

  .info .img-sm {
    width: 40rem;
    margin-top: 3rem;
    margin-left: 3rem;
    height: 30rem;
    object-position: center;
    z-index: 1;
    object-fit: cover;
  }
  .overlay-img {
    position: absolute;
    left: 30%;
    margin-top: 24rem;
    width: 50rem;
    height: 20rem;
    object-fit: cover;
  }

  .code {
    margin-top: 0;
    border: none;
  }
  #home .subject {
    display: flex;
    justify-content: center;
  }

  .code p {
    margin: 2rem 0 2rem 0;
  }

  .colour-box {
    background-color: #b86660;
    z-index: 0;
    position: absolute;
    right: 15%;
    width: 40%;
    height: 20rem;
    margin-top: 15rem;
  }
  .colour-box-text {
    font-size: 1.5rem;
    line-height: 2.8rem
    padding: 2rem;
    margin: 2rem;
    text-align: left;
    color: white;
  }

/* Advantages */


  .advantage {
    padding: 0;
  }

  .advantage-content {
    width: 28%;
    border: 2px solid #ecebe3;
    margin: 2rem;
    border-radius: 20px;
  }
  .advantage-content:hover {
    border: 2px solid #b86660;
    transition: 0.2s;
  }
  .advantage-box {
    display: flex;
    margin-top: 5rem;
    padding: 0;
    margin-bottom: 0;
  }
  .advantage-content span {
    font-size: 2rem;
  }
  .advantage-content p {
    font-size: 1.1rem;
    margin: 0;
  }
  .advantage i {
    font-size: 4rem;
    color: #b86660;
    padding-bottom: 2rem;
  }
  .advantage-content .text-content {
    padding: 3rem;
  }


  /* Gallery */

    .gallery {
      display: flex;
      justify-content: center;
      margin: 3rem;
      align-items: center;
      position: relative;
      background-color: #b86660;
      color: white;
    }

    .gallery span {
      padding: 2rem;
    }
    .gallery a {
      color: white;
    }
    .gallery a:hover {
      text-decoration: none;
      color: black;
      transition: 0.3s;
    }

    .insta {
      background-image: url();
    }
    .background {
      background-size: 100%;
      background-position: center;
      opacity: 0.3;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }


  /* About */

  .parallax-page1 {
    background-image: url("../images/can-2.jpg");
    object-position: top;
  }
  .parallax-page2 {
    background-image: url("../images/speaker.jpg");
    object-position: top;
  }
  .parallax-page3 {
    background-image: url("../images/srf-4.jpg");
  }

  .section {
    display: block;
    padding: 2rem 5rem;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
    background-color: #;
  }

  .subtitle {
    display: block;
  }
  .about-content img {
    width: 40rem;
    height: 25rem;
    object-fit: cover;
    object-position: top;
  }

  .vid {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .vid img{
    width: 100%;
  }
  .row-1, .row-2, .row-3, .row-4 {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
  }
  .section .row-2 .about-content .text-content {
    padding-right: 0;
  }
  /*
  .vid video {
    width: 100%;
  }*/

  .section .text-content {
    padding: 3rem;
    text-align: left;
  }

  .colour-box-small {
    background-color: #ecebe3;
    width: 8rem;
    height: 2rem;
    position: absolute;
    z-index: -1;
    margin-left: 2rem;
  }
  /* Team */

  .member {
    font-family: 'Poppins';
    font-size: 1.5rem;
    width: 25%;
    margin: 2rem;
  }
  .member .text-content {
    text-align: center;
    border: 2px solid #b86660;
    margin-top: 8rem;
  }
  .member-photo {
    border-radius:50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    position: absolute;
  }
  .flex {
    display: flex;
    justify-content: center;
  }
  .member .text-content:hover {
    background-color: #b86660;
    transition: 0.3s;
    color: white;
  }




  /* Footer */

    footer {
      padding: 2rem;
      text-align: center;
      bottom: 0;
      width: 95%;
      margin: auto;
      position: relative;
      border-top: 4px solid #ecebe3;
      max-width: 2000px;
    }
    .footer-content {
      display: flex;
      text-align: left;
      justify-content: space-around;
    }
    .footer-box span {
      font-size: 2rem;
      font-family: 'Alata';
    }
    .footer-section {
      display: flex;
    }
    footer ul {
      list-style: none;
      padding: 0;
      font-family: 'Lato';
    }
    footer div {
      padding: 2rem;
      padding-top: 0;
    }
    footer .logo {
      padding: 0;
    }
    .colour-circle-small {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: #ecebe3;
      position: absolute;
      z-index: -1;
    }
    footer a:hover {
      text-decoration: none;
    }


/* For mobile */

  @media only screen and (min-width: 300px) and (max-width: 768px) {
      .text-content, .section .text-content {
        padding: 1rem;
      }

  /* Header */

      .mobile {
        display: block;
      }
      header {
        display: flex;
        align-items: center;
      }
      nav {
        justify-content: space-between;
        width: 100%;
      }
      nav, header {
        height: 5rem;
      }
      .menu {
        display: none;
      }
      .logo {
        padding-left: 1rem;
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
        text-align: left;
      }
      .logo img {
        width: 3rem;
      }
      .open {
        display: block;
        padding: 1rem;
      }
      header a:hover {
        text-decoration: none;
        border-bottom: none;
      }
      #mobile, #mobileShop {
        justify-content: space-between;
        position: fixed;
        overflow: hidden;
        display: block;
      }
      .mobile-overlay, .o{
        height: 100%;
        width: 0;
        z-index: 4;
        top: 0;
        right: 0;
        background-color: white;
        transition: 0.6s;
      }
      .o {
        z-index: 5;
      }
      .overlay-content {
        position: relative;
        top: 5%;
        text-align: left;
        padding-top: 1rem;
        overflow: hidden;
      }
      .mobile-overlay-main {
        left: 15%;
      }
      .overlay-content li {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        letter-spacing: 0.3rem;
      }
      .overlay-content button {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        padding: 0;
        background-color: white;
      }
      .mobile-overlay a:hover {
        text-decoration: none;
      }

      .mobile-overlay .mobile-overlay-close {
        position: absolute;
        padding-left: 1rem;
        padding-right: 1rem;
        left: 0;
        top: 0;
        background-color: white;
      }
      .backbtn {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 1rem;
      }
      .desktop {
        display: none;
      }

    /* Jumbotron */

      .jumbotron-inside {
        display: none;
      }
      #home .text-content {
        line-height: 2rem;
      }
      .title {
        font-size: 4rem;
      }
      #home .jumbotron .text-content {
        color: black;
      }
      #home, #home .jumbotron {
        padding: 0;
      }
      .jumbotron p {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      .jumbotron {
        background-image: none;
      }

      #home .jumbotron img {
        display: block;
        width: 100%;
        height: 15rem;
        object-position: center;
        margin-top: 3rem;
        object-fit: cover;
      }

    /* info */
      .info {
        display: block;
        margin-top: 90px;
      }
      .info img {
        height: 20rem;
        object-fit: cover;
      }
      .info span {
        display: block;
      }
      #home .info {
        padding: 0;
        margin: 2rem;
      }
      .info .title {
        font-size: 3rem;
        letter-spacing: 0.6rem;
        padding: 1rem;
        position: relative;
        width: 100%;
        margin: auto;
      }
      .info .img-sm {
        height: 15rem;
        width: 20rem;
        margin: 0;
        left: 5%;
        position: absolute;
      }
      .info .overlay-img {
        position: absolute;
        height: 10rem;
        width: 18rem;
        left: 28%;
        margin-top: 13rem;
        object-position: top;
      }
      .code .subject {
        width: 100%;
        margin: auto;
        display: flex;
        padding: 1rem;
        border: none;
      }

      .info p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.7rem;
        margin: 1rem;
        text-align: center;
        margin-bottom: 2rem;
      }
      .code .subtitle {
        padding: 1rem;
      }
      .img-group {
        margin-top: 20rem;
      }

      .colour-box {
        right: 5%;
        width: 70%;
        height: auto;
        padding: 0;
        margin-top: 10rem;
        z-index: 1;
      }
      .colour-box-text {
        margin: 1rem;
      }
    /* Advantage */
      #home .advantage .subject, .advantage {
        display: block;
        margin: 0;
      }
      .advantage .subtitle {
        margin-top: 28rem;
      }
      .advantage-content {
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
      }
      .advantage-content p {
        font-size: 1rem;
      }
      .advantage-content span {
        font-size: 1.8rem;
      }
      .advantage .subtitle, .code .subtitle {
        font-size: 2rem;
      }
      .advantage-content .text-content {
        padding: 2rem;
      }


    /* Gallery */

      .gallery span {
        font-size: 1.5rem;
        text-align: center;
        padding: 0;
      }
      .gallery {
        margin: 0;
        height: 12rem;
      }
      .gallery i {
        display: none;
      }

    /* About */

      .about .text-content {
        text-align: center;
      }

      .subtitle{
        font-size: 2.5rem;
      }

      .about-content img {
        width: 100%;
        height: 12rem;
        margin: 0;
        margin-left: 0;
      }
      .colour-box-small {
        width: 6rem;
        margin: 0;
        margin-left: 1rem;
      }
      .row-1, .row-2, .row-3, .row-4 {
        display: block;
      }
      .parallax {
        background-attachment: scroll;
      }
      .parallax-inside {
        width: auto;
        height: 25rem;
      }
      .parallax img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
      }
      #about .section {
        padding: 1rem;
      }
      .parallax-page1, .parallax-page2, .parallax-page3 {
        background-position: center;
        object-position: center;
      }

      /* Team */
      .member {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
      }
      .member .text-content {
        margin-top: 25rem;
      }


      /* Footer */

      footer {
        padding: 1rem;
      }
       .footer-content{
         display: block;
       }
       .footer-section {
         display: flex;
         padding: 0;
         justify-content: center;
       }
       .footer-box span {
         font-size: 1.5rem;
       }

       footer div {
         padding: 0;
       }
       footer .logo {
         font-size: 1.5rem;
         padding: 1rem;
         display: flex;
         align-items: center;
         justify-content: space-around;
       }
       .footer-box {
         padding: 1rem;
         padding-right: 5rem;
       }
       footer p {
         padding-top: 1rem;
       }

  }

  /* For desktop */

  @media only screen and (min-width: 1500px) {
      html {
        font-size: 16px;
      }
      .inside {
        height: 40rem;
      }
      .subtitle {
        font-size: 3rem;
      }

    /* Info */

      .info {
        max-width: 1800px;
      }
      .info .img-sm {
        width: 55rem;
        height: 40rem;
        padding-bottom: 6rem;
      }
      .info .overlay-img {
        height: 25rem;
        object-position: top;
        left: 46%;
      }
      .intro .subject {
        margin: 0;
      }
      .colour-box {
        height: 25rem;
       right: 15%;
       margin-top: 18rem;
      }

    /* Advantage */

      .advantage-content .text-content {
        padding: 3rem;
        padding-top: 5rem;
      }
      .advantage-box {
        margin-bottom: 7rem;
      }

    /* Gallery */

      .gallery {
        max-width: 2000px;
        margin: auto;
        margin-bottom: 3rem;
      }

    /* About */

      .section {
        max-width: 1800px;
      }
      .vid img {
        width: 70%;
      }
      .about-content p {
        font-size: 1.2rem;
      }

  }
